.unique-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.unique-container {
  width: 480px;
  height: auto;
  background-color: #3498DB;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 60px;
  border: 4px solid #2ECC71;
  border-radius: 12px;
  box-shadow: 0 0 40px #F39C12;
}
