<div class="unique-background" style="background-image: url(./assets/17.jpg);">
  <div class="unique-container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <h2 style="text-align: center; color: #3498DB;">Login</h2>
      <label for="username" style="color: #ECF0F1;">Username:</label>
      <input type="text" id="username" placeholder="Enter UserName..." name="username" [(ngModel)]="credentials.username"/>

      <br>

      <label for="password" name="password" style="color: #ECF0F1;">Password:</label>
      <input type="password" id="password"  placeholder="Enter Password..." name="password" [(ngModel)]="credentials.password"/>

      <br>

      <button type="submit" [disabled]="!loginForm.valid" style="background-color: #27AE60; color: #fff; padding: px 24px; border: none; border-radius: 10px; cursor: pointer; font-size: 16px;">Login</button>
      <div style="width: 100%; text-align: center; color: #ECF0F1;">If you don't have an account?<p style="color: #ECF0F1;" type="button" routerLink="/register">Register</p></div>
    </form>
  </div>
</div>
